<!--Script files-->
    <script src='/Scripts/pubapp.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.js'></script>
    <script src='/jquery/dist/jquery.min.js'></script>

    <footer>
    <div class="footer">
        <div class="footer container">
            <div class="logo">
                <h1><span>Thank you for visiting my webpage</span></h1>
            <p>Reach out </p>
        </div>
        <h2>jessie.emeshili@ontariotechu.net</h2>
        <p>Copyright 2023 Jessie Emeshili. All rights reserved</p>
    </div>
</footer>